{% extends "base.html" %}
{% block title %}supplement page {% endblock %}
{% block content %}
<h1>I currently use a mixture of 4 substances for preworkout</h1>
<a class="nav-link" href="https://www.amazon.com/BulkSupplements-Agmatine-Sulfate-Powder-grams/dp/B00PZ5WXWI">agmatine sulfate <span class="sr-only">(current)</span></a>
<li class="nav-item active">
    <a class="nav-link" href="https://www.bulksupplements.com/products/l-citrulline-pure-powder">L-citrulline <span class="sr-only">(current)</span></a>
    <li class="nav-item active">

 
        <a class="nav-link" href="https://www.bulksupplements.com/products/glycerol-monostearate-gms-powder?_pos=2&_sid=cc9016726&_ss=r">Glycerol monostearate <span class="sr-only">(current)</span></a>
<li class="nav-item active">


        <a class="nav-link" href="https://www.bulksupplements.com/products/caffeine-pills?_pos=1&_sid=a69a77ca4&_ss=r">caffeine <span class="sr-only">(current)</span></a>
        <li class="nav-item active">        
{% endblock %}