<!doctype html>
{% extends "base.html" %}
{% block title %}Workout Calculation{% endblock %}

{% block content %}
<form action ="#" method="post">
    <p>   Lift</p>
    <p><input type="text" name="lift" /></p>
<form action ="#" method="post">
    <p>   bodyweight(pounds)</p>
    <p><input type="number" name= "bodyweight" /></p>
<form action ="#" method="post">
    <p>   Weight for lift(pounds)</p>
    <p><input type="number" name="Rnumber" /></p>
    <p><input type="submit" value="submit"/></p>
<form>

{% endblock %}